annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
anyio==4.4.0 ; python_version >= "3.12" and python_version < "4.0"
astroid==3.2.4 ; python_version >= "3.12" and python_version < "4.0"
autopep8==2.3.1 ; python_version >= "3.12" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.12" and python_version < "4.0"
black==24.8.0 ; python_version >= "3.12" and python_version < "4.0"
cachetools==5.5.0 ; python_version >= "3.12" and python_version < "4.0"
certifi==2024.8.30 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
configparser==7.1.0 ; python_version >= "3.12" and python_version < "4.0"
confluent-kafka==2.5.3 ; python_version >= "3.12" and python_version < "4.0"
dill==0.3.8 ; python_version >= "3.12" and python_version < "4.0"
dnspython==2.6.1 ; python_version >= "3.12" and python_version < "4.0"
email-validator==2.2.0 ; python_version >= "3.12" and python_version < "4.0"
fastapi-cli==0.0.5 ; python_version >= "3.12" and python_version < "4.0"
fastapi-router-controller==0.5.0 ; python_version >= "3.12" and python_version < "4.0"
fastapi==0.111.1 ; python_version >= "3.12" and python_version < "4.0"
flake8==7.1.1 ; python_version >= "3.12" and python_version < "4.0"
google-auth==2.34.0 ; python_version >= "3.12" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.12" and python_version < "4.0"
httpcore==1.0.5 ; python_version >= "3.12" and python_version < "4.0"
httptools==0.6.1 ; python_version >= "3.12" and python_version < "4.0"
httpx==0.27.2 ; python_version >= "3.12" and python_version < "4.0"
idna==3.8 ; python_version >= "3.12" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
injector==0.21.0 ; python_version >= "3.12" and python_version < "4.0"
interlink @ git+https://github.com/interTwin-eu/interLink.git@147b59e1dddf8a8c7d6f5d645cf5e814c6f03517#subdirectory=example ; python_version >= "3.12" and python_version < "4.0"
ipromise==1.9 ; python_version >= "3.12" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.12" and python_version < "4.0"
kubernetes-stubs-elephant-fork==30.1.0.post1 ; python_version >= "3.12" and python_version < "4.0"
kubernetes==29.0.0 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.12" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
mongodb-migrations==1.3.1 ; python_version >= "3.12" and python_version < "4.0"
motor==3.5.1 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.12" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.3.2 ; python_version >= "3.12" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
pycodestyle==2.12.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.23.3 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.9.1 ; python_version >= "3.12" and python_version < "4.0"
pydash==8.0.3 ; python_version >= "3.12" and python_version < "4.0"
pyflakes==3.2.0 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.12" and python_version < "4.0"
pyhelm3==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
pylint==3.2.7 ; python_version >= "3.12" and python_version < "4.0"
pymongo==4.8.0 ; python_version >= "3.12" and python_version < "4.0"
pytest-mock==3.14.0 ; python_version >= "3.12" and python_version < "4.0"
pytest==8.3.2 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
python-multipart==0.0.9 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
rich==13.8.0 ; python_version >= "3.12" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.12" and python_version < "4"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "4.0"
starlette==0.37.2 ; python_version >= "3.12" and python_version < "4.0"
tomlkit==0.13.2 ; python_version >= "3.12" and python_version < "4.0"
typer==0.12.5 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.12" and python_version < "4.0"
uvicorn==0.29.0 ; python_version >= "3.12" and python_version < "4.0"
uvicorn[standard]==0.29.0 ; python_version >= "3.12" and python_version < "4.0"
uvloop==0.20.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.12" and python_version < "4.0"
watchfiles==0.24.0 ; python_version >= "3.12" and python_version < "4.0"
websocket-client==1.8.0 ; python_version >= "3.12" and python_version < "4.0"
websockets==13.0.1 ; python_version >= "3.12" and python_version < "4.0"
