annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
anyio==4.12.0 ; python_version >= "3.12" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.12" and python_version < "4.0"
cachetools==6.2.4 ; python_version >= "3.12" and python_version < "4.0"
certifi==2025.11.12 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "4.0"
click==8.3.1 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
configparser==7.2.0 ; python_version >= "3.12" and python_version < "4.0"
confluent-kafka==2.12.2 ; python_version >= "3.12" and python_version < "4.0"
dnspython==2.8.0 ; python_version >= "3.12" and python_version < "4.0"
durationpy==0.10 ; python_version >= "3.12" and python_version < "4.0"
fastapi-router-controller==0.5.0 ; python_version >= "3.12" and python_version < "4.0"
fastapi==0.114.2 ; python_version >= "3.12" and python_version < "4.0"
google-auth==2.45.0 ; python_version >= "3.12" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.11 ; python_version >= "3.12" and python_version < "4.0"
injector==0.21.0 ; python_version >= "3.12" and python_version < "4.0"
interlink @ git+https://github.com/interlink-hq/interlink-plugin-sdk@3e99546ef1561107a1a47420577abad8d582ac95 ; python_version >= "3.12" and python_version < "4.0"
ipromise==1.9 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4.0"
kubernetes==34.1.0 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==4.0.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
mongodb-migrations==1.3.1 ; python_version >= "3.12" and python_version < "4.0"
motor==3.7.1 ; python_version >= "3.12" and python_version < "4.0"
oauthlib==3.3.1 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.12.5 ; python_version >= "3.12" and python_version < "4.0"
pydash==8.0.5 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "4.0"
pyhelm3==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
pymongo==4.15.5 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.12" and python_version < "4.0"
rich==13.9.4 ; python_version >= "3.12" and python_version < "4.0"
rsa==4.9.1 ; python_version >= "3.12" and python_version < "4"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
starlette==0.38.6 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
uvicorn==0.29.0 ; python_version >= "3.12" and python_version < "4.0"
websocket-client==1.9.0 ; python_version >= "3.12" and python_version < "4.0"
