# Deploy a test microservice that uses ConfigMap and Secret and is accessible via a NodePort service.
# The microservice is an echo server that responds with the request parameters.
#
# To test the microservice from outside the cluster:
# $ curl "http://${K8S_MASTER_NODE_IP}:30181/params?query=test" | jq .request
# $ wget -O- "http://${K8S_MASTER_NODE_IP}:30181/params?query=test"
# or locally within the cluster:
# $ curl "http://test-microservice.default.svc.cluster.local:8181/params?query=test"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: test-cm
  namespace: default
data:
  test_cm_key: just a ConfigMap test
---
apiVersion: v1
kind: Secret
metadata:
  name: test-secret
  namespace: default
type: Opaque
data:
  # test_secret_key: just a Secret test
  test_secret_key: anVzdCBhIFNlY3JldCB0ZXN0
---
apiVersion: v1
kind: Pod
metadata:
  name: test-microservice
  namespace: default
  labels:
    microservice: echo-server
  # annotations:
  #   interlink.eu/disable-offload-init-containers: "istio-validation,istio-proxy"
spec:
  containers:
  - name: test-container
    image: ealen/echo-server:latest
    command: ["node", "webserver"]
    resources:
      requests:
        memory: "32Mi"
        cpu: "10m"    
      limits:
        memory: "48Mi"
        cpu: "12m"
    env:
      - name: PORT
        value: "8181"
      - name: test_data
        value: just a test
      # Not supported in virtual-kubelet (as of Interlink 0.5.1)
      # - name: test_cm_key
      #   valueFrom:
      #     configMapKeyRef:
      #       name: test-cm
      #       key: test_cm_key
      # - name: test_secret_key
      #   valueFrom:
      #     secretKeyRef:
      #       name: test-secret
      #       key: test_secret_key
    # Not supported in virtual-kubelet (as of Interlink 0.5.1)
    # envFrom:
    #   - configMapRef:
    #       name: test-cm
    # Not supported in virtual-kubelet (as of Interlink 0.6.0)
    # ports:
    #   - containerPort: 8181
    #     protocol: TCP
    volumeMounts:
    - name: test-cm-volume
      mountPath: /etc/config/cm.json
    - name: test-secret-volume
      mountPath: /etc/config/secret.json
      readOnly: true
  volumes:
  - name: test-cm-volume
    configMap:
      name: test-cm
  - name: test-secret-volume
    secret:
      secretName: test-secret
  nodeSelector:
    virtual-node.interlink/type: virtual-kubelet
  tolerations:
  - key: "virtual-node.interlink/no-schedule"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
---
apiVersion: v1
kind: Service
metadata:
  name: test-microservice
  namespace: default
spec:
  type: NodePort
  selector:
    microservice: echo-server
  ports:
  - port: 8181
    targetPort: 8181
    nodePort: 30181
---
# If using TCP Tunnel, access the microservice via the Gateway host.
# apiVersion: v1
# kind: Service
# metadata:
#   name: gateway-test-microservice-tunnel
#   namespace: tcp-tunnel
# spec:
#   type: NodePort
#   selector:
#     interlink.io/role: gateway
#   ports:
#   - port: 8181
#     targetPort: 8181
#     nodePort: 30181
---
